<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GenAI PoC</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/assets/favicon.ico')}}" />
    <link href="{{ url_for('static', filename='/css/styles.css')}}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        .loading {
            display: none;
        }
        .output-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 10px;
            min-height: 100px;
        }
        .navbar-brand {
            font-size: 1.5rem;
            font-weight: bold;
        }
        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }
        .card:hover {
            transform: translateY(-10px);
        }
        .demo-card {
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .demo-card:hover {
            background-color: #f8f9fa;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
        .container {
            max-width: 1200px;
        }
        .font-weight-light {
            font-weight: 300;
        }
        .border-dark {
            border-color: #343a40 !important;
        }
        .border-grey {
            border-color: #6c757d !important;
        }
    </style>
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/">CDCDA Data Team GenAI Platform</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/report_generate">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                </ul>
                <button id="toggle-night-mode" class="btn btn-outline-light ml-3">Dark Mode</button>
            </div>
        </div>
    </nav>

    <div class="container-fluid mx-auto mt-5">
        <div class="row my-3">
            <div class="col-md-12 text-center">
                <h1 class="font-weight-light">Criminal Search and Risk Report Generation</h1>
                <!-- <p>通過法院判例名單，我們將為您找出與之最相似的五名罪犯。</p> -->
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Person Information</h5>
                        <form id="personForm">
                            <div class="mb-3">
                                <label for="personName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="personName" placeholder="Enter name">
                            </div>
                            <div class="mb-3">
                                <label for="personGender" class="form-label">Gender</label>
                                <select class="form-control" id="personGender">
                                    <option value="">Select gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="personAddress" class="form-label">Address</label>
                                <input type="text" class="form-control" id="personAddress" placeholder="Enter address">
                            </div>
                            <div class="mb-3">
                                <label for="personBirthdate" class="form-label">Birthday</label>
                                <input type="date" class="form-control" id="personBirthdate">
                            </div>
                            <button id="submitButton" type="button" class="btn btn-primary w-100" onclick="submitPerson()">Vector Search</button>
                            <button id="loadingButton" class="btn btn-primary w-100 mt-2" type="button" style="display: none;" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span>Loading...</span>
                            </button>
                        </form>
                    </div>
                </div>
                
                <div class="card demo-card mt-3" onclick="fillDemoData1()">
                    <div class="card-body">
                        <h5 class="card-title">Demo Person 1</h5>
                        <p class="card-text"><strong>Name:</strong> Phạm Văn M </p>
                        <p class="card-text"><strong>Gender:</strong> Male </p>
                        <p class="card-text"><strong>Address:</strong> Thôn Vĩnh Lương Khê, xã Phú Lương, huyện Phú Vang, tỉnh Thừa Thiên Huế </p>
                        <p class="card-text"><strong>Birthday:</strong> 2000/02/18 </p>
                    </div>
                </div>
                
                <div class="card demo-card mt-3" onclick="fillDemoData2()">
                    <div class="card-body">
                        <h5 class="card-title">Demo Person 2</h5>
                        <p class="card-text"><strong>Name:</strong> Nguyên Đưc T </p>
                        <p class="card-text"><strong>Gender:</strong> Male </p>
                        <p class="card-text"><strong>Address:</strong> Số 2, đường C, phường C, Quận 1, Thành phố H </p>
                        <p class="card-text"><strong>Birthday:</strong> 1970/02/12 </p>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="border border-dark rounded p-3 mb-4">
                    <h5 class="mb-3">Most Similar Results</h5>
                    <table id="identicalResults" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Birthdate</th>
                                <th>Address</th>
                                <th>Crime</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            
                <div class="border border-grey rounded p-3 mb-4">
                    <h5 class="mb-3">Similar Results</h5>
                    <table id="similarResults" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Birthdate</th>
                                <th>Address</th>
                                <th>Crime</th>
                                <th>Total Similarity</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="mt-4">
                    <h5 class="mb-3">Output</h5>
                    <div id = "buttoncontainer" style= "position: relative;">
                        <button id="showOutputButton" type="button" class="btn btn-secondary" onclick="showOutput()" disabled>Show Output</button>
                        <button id="loadingOutputButton" type="button" class="btn btn-secondary" style="display: none;" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span>Loading...</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-16 mt-3">
                    <div class="mb-3">
                        <textarea class="form-control" id="outputText" rows="27" placeholder="Output will be displayed here..." readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


    <script>
        function fillDemoData1() {
            document.getElementById('personName').value = 'Phạm Văn M';
            document.getElementById('personGender').value = 'Male';
            document.getElementById('personAddress').value = 'Thôn Vĩnh Lương Khê, xã Phú Lương, huyện Phú Vang, tỉnh Thừa Thiên Huế';
            document.getElementById('personBirthdate').value = '2000-02-18';
        }

        function fillDemoData2() {
            document.getElementById('personName').value = 'Nguyên Đưc T';
            document.getElementById('personGender').value = 'Male';
            document.getElementById('personAddress').value = 'Số 2, đường C, phường C, Quận 1, Thành phố H';
            document.getElementById('personBirthdate').value = '1970-02-12';
        }

        async function submitPerson() {
            const personData = {
                personName: document.getElementById('personName').value,
                personGender: document.getElementById('personGender').value,
                personAddress: document.getElementById('personAddress').value,
                personBirthdate: document.getElementById('personBirthdate').value
            };
            console.log(personData);

            const submitButton = document.getElementById('submitButton');
            const loadingButton = document.getElementById('loadingButton');
            const outputText = document.getElementById('outputText'); // Get the output text area element

            submitButton.style.display = 'none';
            loadingButton.style.display = 'block';
            outputText.value = ''; // Clear the output text area

            try {
                const response = await fetch("/criminal_search", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(personData)
                });

                if (!response.ok) {
                    console.log("Network response was not ok", response);
                    throw new Error('Network response was not ok');
                    //print error
                
                }

                const result = await response.json();
                console.log("response:", result);
                
                updateIdentical(result.identical_result, '#identicalResults');
                updateTable(result.similar_result, '#similarResults');
                document.getElementById('showOutputButton').disabled = false; // Enable the "Show Output" button
            } catch (error) {
                console.log("An error occurred.", error);
                alert('An error occurred. Please try again.');
            } finally {
                submitButton.style.display = 'block';
                loadingButton.style.display = 'none';
            }
        }

        function updateIdentical(data, tableId) {
            console.log("table:", data);
            const table = $(tableId).DataTable();
            table.clear();
            data.forEach(function(item) {
                table.row.add([
                    '<input type="checkbox" class="row-checkbox">', // Add checkbox here
                    item.name,
                    item.gender,
                    item.birthdate,
                    item.full_address,
                    item.crime,
                    '<a href="' + item.jlr_link + '" target="_blank">Judgement Link</a>'
                ]);
            });
            table.draw();
        }

        function updateTable(data, tableId) {
            const table = $(tableId).DataTable();
            table.clear();
            data.forEach(function(item) {
                table.row.add([
                    '<input type="checkbox" class="row-checkbox">', // Add checkbox here
                    item.name,
                    item.gender,
                    item.birthdate,
                    item.full_address,
                    item.crime,
                    item.total_similarity.toFixed(3) + '%',
                    '<a href="' + item.jlr_link + '" target="_blank">Judgement Link</a>'
                ]);
            });
            table.draw();
        }

        async function showOutput() {
            const showOutputButton = document.getElementById('showOutputButton');
            const loadingOutputButton = document.getElementById('loadingOutputButton');

            showOutputButton.style.display = 'none';
            loadingOutputButton.style.display = 'block';

            const identicalTable = $('#identicalResults').DataTable();
            const similarTable = $('#similarResults').DataTable();

            let identicalData = [];
            identicalTable.rows().every(function(rowIdx, tableLoop, rowLoop) {
                const data = this.data();
                const checkbox = $(this.node()).find('.row-checkbox');
                identicalData.push({
                    name: data[1],
                    gender: data[2],
                    birthdate: data[3],
                    full_address: data[4],
                    crime: data[5],
                    jlr_link: data[6],
                    isChecked: checkbox.is(':checked')
                });
            });

            let similarData = [];
            similarTable.rows().every(function(rowIdx, tableLoop, rowLoop) {
                const data = this.data();
                const checkbox = $(this.node()).find('.row-checkbox')[0];
                similarData.push({
                    name: data[1],
                    gender: data[2],
                    birthdate: data[3],
                    full_address: data[4],
                    crime: data[5],
                    jlr_link: data[6],
                    total_similarity: data[7],
                    isChecked: checkbox.checked
                });
            });


            const dataToSend = {
                identical_results: identicalData,
                similar_results: similarData
            };
            console.log("Data to send:", dataToSend);
            try {
                const response = await fetch("/report_generate", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(dataToSend)
                });

                if (!response.ok) {
                    console.log("Network response was not ok", response);
                    throw new Error('Network response was not ok');
                }

                const result = await response.json();
                console.log("Response from backend:", result);

                document.getElementById('outputText').value = result.risk_report;

            } catch (error) {
                console.log("An error occurred.", error);
                alert('An error occurred. Please try again.');
            }
            showOutputButton.style.display = 'block';
            loadingOutputButton.style.display = 'none'; 
        }


        $(document).ready(function() {
            $('#identicalResults').DataTable({
                "scrollX": false,
                "searching": false,
                "paging": false,
                "info": false,
                "ordering": false,
                "columnDefs": [
                    { "width": "5%", "className": "dt-center", "targets": 0 },
                    { "width": "10%", "className": "dt-center", "targets": 1 },
                    { "width": "10%", "className": "dt-center", "targets": 2 },
                    { "width": "10%", "className": "dt-center", "targets": 3 },
                    { "width": "20%", "className": "dt-center", "targets": 4 },
                    { "width": "20%", "className": "dt-center", "targets": 5 },
                    { "width": "15%", "className": "dt-center", "targets": 6 }
                ]
            });
            $('#similarResults').DataTable({
                "scrollX": false,
                "searching": false,
                "paging": false,
                "info": false,
                "ordering": false,
                "columnDefs": [
                    { "width": "5%", "className": "dt-center", "targets": 0 },
                    { "width": "10%", "className": "dt-center", "targets": 1 },
                    { "width": "10%", "className": "dt-center", "targets": 2 },
                    { "width": "10%", "className": "dt-center", "targets": 3 },
                    { "width": "10%", "className": "dt-center", "targets": 4 },
                    { "width": "15%", "className": "dt-center", "targets": 5 },
                    { "width": "15%", "className": "dt-center", "targets": 6 },
                    { "width": "15%", "className": "dt-center", "targets": 7 }
                ]
            });
        });

        document.getElementById('toggle-night-mode').addEventListener('click', function() {
            const button = document.getElementById('toggle-night-mode');
            if (document.body.classList.contains('night-mode')) {
                document.body.classList.remove('night-mode');
                button.textContent = 'Dark Mode'; // Set button text to "Night Mode"
                localStorage.setItem('nightMode', 'false');
            } else {
                document.body.classList.add('night-mode');
                button.textContent = 'Light Mode'; // Set button text to "Light Mode"
                localStorage.setItem('nightMode', 'true');
            }
            initializeDataTables(); // Reinitialize DataTables to apply changes
        });

        document.addEventListener('DOMContentLoaded', function() {
            if (localStorage.getItem('nightMode') === 'true') {
                document.body.classList.add('night-mode');
                document.getElementById('toggle-night-mode').textContent = 'Light Mode'; // Set button text to "Light Mode"
            } else {
                document.getElementById('toggle-night-mode').textContent = 'Dark Mode'; // Set button text to "Night Mode"
            }
            initializeDataTables(); // Initialize DataTables on page load
        });

    </script>
</body>
</html>
